*{
  margin: 0;
  color: #f5fffa;
}
body{
  background-image: url(/img/logo.jpg);
}

nav{
  width: 100%vw;
  backdrop-filter: blur(16px) saturate(180%);
	background: rgba(255, 255, 255, 0.262);
}
nav ul{
  display: flex;
  justify-content: space-around;

}
nav ul li{
  list-style: none;
  padding: 1rem 0;
}
nav ul li a{
  color: #f5fffa;
  align-items : space-between;
  text-decoration: none;
}
nav ul li a:hover{
  color: #f5fffab2;
  transition: 1s;
}

/* translate*/

.language{
  display: block;
  z-index: 1;
}
.selected-language{
  display: block;
  
}

#about, #contact, #experience, #habilities{
  background-color: rgba(133, 133, 133, 0.89);
  height: 20rem;
  margin: 10rem auto;
  position: relative;
  width: 80%;
  
}
